<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_ENVIRONMENT</key>
	<string>$(ENABLE_VERBOSE_LOGGING)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.cinetracker.urlscheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cinetracker</string>
			</array>
		</dict>
	</array>
	<key>TMDB_API_KEY</key>
	<string>$(TMDB_API_KEY)</string>
	<key>TMDB_BASE_URL</key>
	<string>$(TMDB_BASE_URL)</string>
	<key>TMDB_IMAGE_BASE_URL</key>
	<string>$(TMDB_IMAGE_BASE_URL)</string>
</dict>
</plist>
